* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  padding: 20px;
  text-align: center;
  border: 2px solid whitesmoke;
  background-color: darkblue;
  border-radius: 10px;
  box-shadow: 0 0 10px white inset;
  min-height: 100vh;
}
.div-confirm-box {
  width: 75%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 2px;
  box-shadow: 0 0 10px black inset;
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3vw;
  opacity: 0;
  z-index: 20;
}
.div-header {
  width: 100%;
  background-color: red;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  font-style: oblique;
}
.div-message {
  width: 100%;
  background-color: lightgray;
  padding: 5px 5px 2px;
  text-align: left;
}
.div-for-btnYes-btnCancel {
  width: 100%;
  background-color: lightgray;
  text-align: right;
  padding: 0px 30px 5px;
}
.btnX {
  border: none;
  background-color: white;
  outline: none;
  padding: 0 4px;
}
.btnYes,
.btnCancel {
  border: none;
  background-color: white;
  outline: none;
  padding: 2px 8px;
  margin-right: 10px;
}
.btnX:hover {
  background-color: red;
  border: 1px solid white;
  color: white;
}
.title {
  width: 100%;
}
.bj {
  box-shadow: 0px 10px 10px red inset;
  display: inline-block;
  padding: 10px;
  color: green;
  margin-top: 15px;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}
.div-score-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.5vw;
  margin-bottom: 8px;
}
.score-label {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.tag {
  width: 40%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
  margin-right: 1%;
  margin-top: 1%;
}
.for-mylife,
.for-computerlife {
  width: 60%;
  text-align: left;
}
.mylife-container,
.computerlife-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 14px;
  border: 1px solid white;
  margin-top: 1%;
  padding: 0px 2px;
  overflow: hidden;
}
.mylife,
.computerlife {
  width: 100%;
  height: 8px;
  background-color: lawngreen;
  border-radius: 0px 2px 2px 0px;
}
.for-score {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.5vw;
}
table,
th,
td {
  border: 2px solid gray;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
table {
  border-collapse: collapse;
  border-radius: 10px;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: darkblue;
}
.div-for-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: dimgray;
  padding: 5px;
  justify-content: space-between;
  border-radius: 5px;
}
.for-imgyou,
.for-imgcomputer {
  width: 49.7%;
  background-color: darkblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 5px;
  margin: 0;
}
.you,
.computer {
  width: 15%;
  font-size: 3vw;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  text-align: left;
  color: darkred;
  position: relative;
  top: -20px;
  height: 50px;
  line-height: 50px;
}
.card-for-me {
  width: 27%;
  border: 2px solid darkred;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
}
.flip-container {
  width: 27%;
  position: relative;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 2s ease;
  border-radius: 10px;
}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 2px solid darkred;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.card-for-computer {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 10px;
  border: 2px solid darkred;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.heroes {
  margin: 0 auto;
  width: 100%;
  padding: 5px;
  background-color: rgba(45, 45, 185, 0.5);
}
#heroes-txt {
  color: lawngreen;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.for-hero-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding: 8px 0px 1px;
}
.figure-my-hero {
  width: 10%;
  margin: 0 8px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.image {
  width: 100%;
  border-radius: 3px;
}
.image:hover {
  position: relative;
  transform: scale(2.5);
  transition: 0.5s;
  z-index: 1;
  box-shadow: 0 0 20px lightblue;
}
.heroInfo-container {
  width: 100%;
  position: relative;
  z-index: 2;
}
.heroInfo {
  width: 100%;
  margin: 0 auto;
  font-size: 0;
  padding: 10px;
  background-color: darkblue;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.heroInfo-class1 {
  font-size: 3vw;
}
.main-for-btnquit-btnplay {
  width: 100%;
  margin: 20px 0;
}
.for-btnquit-btnplay {
  width: 100%;
  display: none;
  justify-content: center;
}
.for-btnquit-btnplay button {
  width: 70px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  background-color: darkblue;
  border: 1px solid white;
  outline: 0px;
  cursor: pointer;
}
.hit {
  margin-right: 7.5px;
}
.deal {
  margin-left: 7.5px;
}
.hit:hover {
  background-color: red;
  color: white;
}
.deal:hover {
  background-color: green;
  color: white;
}
.opening {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateY(-25%) translateX(-50%);
  width: 75%;
  background-color: aliceblue;
}
.img-opening {
  width: 35%;
  position: absolute;
  left: 20%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(87, 86, 86);
  transform: skewX(20deg) skewY(-10deg);
}
.img-opening1 {
  width: 35%;
  position: absolute;
  left: 50%;
  transform: translateY(-20%) translateX(-50%);
  border-radius: 10px;
  box-shadow: 0 0 5px red;
  z-index: -1;
}
.img-opening2 {
  width: 35%;
  position: absolute;
  right: 20%;
  transform: skewX(-20deg) skewY(10deg);
  border-radius: 10px;
  box-shadow: 0 0 5px red;
  z-index: -1;
}
.div-for-3btns {
  position: absolute;
  text-align: center;
  top: -5%;
  left: 50%;
  transform: translateY(-5%) translateX(-50%);
}
.div-for-3btns button {
  padding: 5px 10px;
  border: 2px solid red;
  border-radius: 5px;
  outline: none;
  background-color: darkblue;
  opacity: 0.6;
  color: whitesmoke;
  font-size: 4vw;
  font-weight: bolder;
  cursor: pointer;
}
.btn-play button {
  background-color: green;
}
.btn-play button:hover {
  color: yellow;
}
.btn-exit button {
  background-color: red;
}
.btn-exit button:hover {
  color: darkblue;
}
.btn-instruction button:hover {
  color: red;
}
.btn-play,
.btn-exit,
.btn-intruction {
  margin: 0 auto;
  margin-bottom: 10px;
}
.main-instruction {
  width: 100%;
  background-color: darkblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 5px 10px 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0;
}
.instruction-show {
  font-size: 3vw;
}
.header-of-intruction {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.reminders {
  width: 100%;
  border-top: 1px solid darkblue;
  padding-top: 10px;
}
.first-division,
.second-division {
  width: 100%;
  padding: 10px 10px 10px 20px;
  text-align: left;
}
#close {
  background-color: red;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .image:hover + .figcaption-image {
    bottom: -13px;
    height: 5px;
    line-height: 5px;
    padding: 1px 0px 6px 2px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  .image:hover + .figcaption-image {
    bottom: -15px;
    height: 5px;
    line-height: 5px;
    padding: 1px 0px 6px 2px;
  }
}

/* for tablet  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .div-confirm-box {
    width: 40%;
    font-size: 2vw;
  }
  .div-for-btnYes-btnCancel {
    padding: 0px 40px 5px;
  }
  .div-header {
    padding: 4px 8px;
  }
  .div-message {
    padding: 8px 8px 4px;
  }
  .btnYes,
  .btnCancel {
    padding: 3px;
  }
  .heroes {
    width: 65%;
    padding: 5px;
  }
  .for-hero-img {
    padding: 8px 0px 1px;
  }
  .figure-my-hero {
    width: 12%;
    margin: 0 8px;
  }
  .image {
    border-radius: 5px;
  }
  .image:hover + .figcaption-image {
    bottom: -25px;
    z-index: 2;
    height: 10px;
    line-height: 10px;
    font-size: 1.2vw;
    padding-bottom: 12px;
  }
  .for-btnquit-btnplay button {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
  }
  .tag {
    width: 60%;
  }
  .for-mylife,
  .for-computerlife {
    width: 50%;
  }
  .mylife-container,
  .computerlife-container {
    height: 24px;
    margin-bottom: 2px;

    border: 2px solid white;
    padding: 0px 3px;
  }
  .mylife,
  .computerlife {
    height: 14px;
  }
  .you,
  .computer {
    top: -10px;
  }
}
/* for PC/Laptop */
@media only screen and (min-width: 992px) {
  body {
    background-color: darkblue;
  }
  .main-container {
    width: 75%;
  }
  .div-confirm-box {
    width: 35%;
    font-size: 1.2vw;
  }
  .div-header {
    padding: 5px 10px;
  }
  .div-message {
    padding: 10px 10px 5px;
  }
  .div-for-btnYes-btnCancel {
    padding: 0px 50px 10px;
  }
  .btnX {
    width: 25px;
    height: 25px;
  }
  .btnYes,
  .btnCancel {
    padding: 5px 10px;
  }
  .score-label {
    font-size: 1vw;
    align-items: center;
    justify-content: flex-start;
  }

  .tag {
    width: 17%;
    text-align: right;
  }
  .for-mylife,
  .for-computerlife {
    width: 82%;
  }
  .mylife-container,
  .computerlife-container {
    width: 30%;
    height: 18px;
    border: 1px solid white;
    padding: 0px 2px;
  }
  .mylife,
  .computerlife {
    height: 12px;
  }
  .for-score {
    font-size: 1vw;
  }
  .you,
  .computer {
    font-size: 2vw;
    top: -10px;
  }

  .card-for-me {
    width: 25%;
  }
  .flip-container {
    width: 25%;
  }
  .opening {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateY(-20%) translateX(-50%);
    width: 75%;
  }
  .img-opening {
    top: 20%;
    left: 35%;
    transform: translateY(-10%) translateX(-40%);
    width: 15%;
    transform: skewX(20deg) skewY(-10deg);
  }
  .img-opening1 {
    top: 20%;
    left: 50%;
    transform: translateY(-20%) translateX(-50%);
    width: 15%;
  }
  .img-opening2 {
    top: 20%;
    right: 35%;
    transform: skewX(-20deg) skewY(10deg);
    width: 15%;
  }
  .div-for-3btns button {
    font-size: 1.5vw;
  }
  .heroes {
    width: 75%;
    padding: 13px;
  }
  .for-hero-img {
    padding: 8px 0px 1px;
  }
  .figure-my-hero {
    width: 7%;
    margin: 0 1px;
    border-radius: 5px;
  }
  .image {
    width: 100%;
    border-radius: 5px;
  }
  .figcaption-image {
    position: relative;
    width: 100%;
    padding: 2px;
    font-size: 0;
  }
  .image:hover + .figcaption-image {
    bottom: -30px;
    font-size: 0.5vw;
    padding: 2px 0px 8px 8px;
  }
  .for-btnquit-btnplay button {
    width: 110px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
  }
  .instruction-show {
    font-size: 1.5vw;
  }
  .heroInfo-container {
    width: 100%;
    position: relative;
    z-index: 2;
    top: 15px;
  }
  .heroInfo-class1 {
    font-size: 1.5vw;
  }
}
/* for bigger screen */
@media only screen and (min-width: 1440px) {
  .opening {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateY(-15%) translateX(-50%);
    width: 75%;
  }
}
